.DS_Store
.idea/*
assets/
protected/vendor/
protected/controllers/TestController.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess